html, body { 
	font:10pt/14pt Verdana, sans-serif; 
	}

body.black { 
	color:#fff; 
	background:#000; 
	}

body.white { 
	color:#000; 
	background:#fff; 
	}

#content { 
	width:95%; 
	max-width:1200px; 
	min-width:700px; 
	margin:auto; 
	}

#container { 
	width:auto; 
	height:600px; 
	color:#ff0000; 
	}	
	
.about { 
	width:100%; 
	max-width:750px; 
	margin:1.5em 0; 
	}

.about h2 { 
	font-weight:normal; 
	font-size:150%; 
	margin:1em 0 .4em 0; 
	}

.back { 
	margin-bottom:20px; 
	}

.back a { 
	text-decoration:none; 
	background:#bb0000; 
	border:1px solid #770000; 
	padding:2px 6px 3px 6px; 
	display:inline-block; 
	color:#fff; 
	}

.back a:hover { 
	background-color:#cc0000; 
	}
	
#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}